<% include partials/header %>
<div class="ui container">

	<h2 class="ui center aligned icon header">
  		<i class="circular book icon"></i>
  		Mr. Jenkins 5th Period Class
	</h2>
    <h1>assignments</h1>
		
	
	








<div class="ui bottom fixed">
    <a class="ui horizontal divider section header" href="/">Go Back</a>
</div>
</div> <!-- End main body ui container div -->
<% include partials/footer %>