<% include partials/header %>

<div class="ui container">
	<h2 class="ui center aligned icon header">
  		<i class="circular book icon"></i>
  		Mr. Jenkins Classes
  		<!-- need to add ejs to add course name when clicking on different tabs -->
	</h2>



<!---->
<!-- Tab naming -->
	<div class="ui top attached tabular menu addCourseTabs">

	<!-- Add course tab  -->
		<a class="active item" data-tab="addCourse">Add Class</a>

	<!-- Iteration logic for tab naming -->
		<% for(var i=0; i<courses.length; i++){%>
			<a class="item" data-tab="<%= courses[i]['courseNickname']%>"><%= courses[i]['courseNickname'] %></a>
		<% } %>
	</div>

<!---->
<!-- Tab content -->
	<!-- Add Course content -->
		<div class="ui bottom attached active tab segment" data-tab="addCourse">
			<div class="ui red secondary segment topbottom">
		      <h3 class="ui horizontal divider section header">Add Class / Period</h3>
				<div class="ui form">

					<div class="fields">
						<div class="ten wide field">
				      		<label>Class Name</label>
				      		<input type="text" placeholder="Class Name - Ex: 'Mrs. Jones 1st period Study of Texas History Class" name="className">
				    	</div>

				    	<div class="six wide field">
				    		<label>Personal Class Nickname</label>
				    		<input type="text" placeholder="Ex: '1st Period' or 'Tex Hist'" name="classNickname">
				    	</div>
		  			</div> <!--end fields -->
		  			
		  			<div class="field">
		                <label>Class description</label>
		                <textarea rows="6" placeholder="The official summary or syllabus of the class. Feel free to leave things like objectives and other information important about the class to parents here."></textarea>
		         </div>  <!--end field -->

				</div> <!-- end ui form -->
				</form>			
		      <p><strong>*NOTE: Parents will see the Class Name and Description. However, the nickname is for you to organize and will not be seen by parents</strong></p>	         			       
			   <button class="fluid green ui button">Create class</button>    
			</div> <!--end ui red secondary segments-->
		</div> <!-- END data-tab="addCourse" -->

	<!-- Iteration log for Tabs -->
		

		<% for(var p=0; p<courses.length; p++){%>
			<div class="ui bottom attached tab segment" data-tab="<%= courses[p]['courseNickname'] %>">
			</div> 
		<% } %>


	




	
</div> <!-- End main body ui container div -->
<% include partials/footer %>