<% include partials/header %>
<div class="ui container">

	<h2 class="ui center aligned icon header">
  		<i class="circular book icon"></i>
  		Mr. Jenkins 5th Period Class
	</h2>

	<h3 class="ui horizontal divider section header"> </h3>











</div> <!-- End main body ui container div -->
<% include partials/footer %>
